extends layout

block content
  mixin form(_type, _id, _value, _label)
    .form-group
      label(for= _id)= _label
      input(type= _type id= _id class='form-control' value= _value)
  form(action='/create' method='post')
    +form('text', 'firstName', firstName, "First Name")
    +form('text', 'lastName', lastName, "Last Name")
    +form('email', 'email', email, "Email")
    +form('password', 'password', password, "Password")
    +form('password', 'confirmPassword', confirmPassword, "Confirm Password")
    div
      button(type='submit' class='btn btn-primary') Create User
